<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ../views/partials/_header %>
  </header>
    <% for(const url in urls) { %>
      <form method="POST" action="/urls/<%= url %>/delete"><button>delete</button>
     </form>
       <form method="GET" action="/urls/<%= url %>"><button>edit</button>
     </form>
     <li><%= url + ': ' + urls[url]  %></li>
      <% } %>
     <a href="">short url</a>
</body>
</html>
